.MovieContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  /* border: 1px solid rebeccapurple; */
  width: 400px;
  height: 150px;
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px;
}

.div1 {
  height: auto;
  flex: 1;
}
.div2 {
  height: auto;
  flex: 2;
}
h1 {
  font-size: 1rem;
  padding: 0;
}
img {
  height: 110px;
  margin-left: 25px;
  border-radius: 20px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
